/*.todo-container {
  border-top: 5px solid #435757;
  background-color: rgba(255, 255, 255, .2);
  box-shadow: 0 0 20px rgba(0, 0, 0, .1);
  user-select: none;
  margin-bottom: 20px;
  margin-top: 20px
}

h1 {
  margin: 0;
  padding: 20px;
  background-color: rgba(255, 255, 255, .4);
  font-size: 1.8em;
  text-align: center;
}

.items {
  display: flex;
  flex-direction: column;
  padding: 20px;
  counter-reset: done-items undone-items;
}

.done {
  order: 1;
}

.done::after {
  content: ' (' counter(done-items) ')';
}

.undone {
  order: 3;
}

.undone::after {
  content: ' (' counter(undone-items) ')';
}

input.inputTest{
  display: block;
  height: 53px;
  margin: 0 0 -53px -9999px;
  order: 4;
  outline: none;
  counter-increment: undone-items;
}

input.inputTest:checked {
  order: 2;
  counter-increment: done-items;
}

label {
  display: block;
  position: relative;
  padding: 15px 0 15px 45px;
  border-top: 1px dashed #fff;
  order: 4;
  cursor: pointer;
  animation: undone .5s;
}

label::before {
  content: '\f10c';
  display: block;
  position: absolute;
  top: 11px;
  left: 10px;
  font: 1.5em 'FontAwesome';
}

label:hover, input.inputTest:focus + label {
  background-color: rgba(255, 255, 255, .2);
}

input.inputTest:checked + label {
  order: 2;
  animation: done .5s;
}

input.inputTest:checked + label::before {
  content: '\f058';
}

@keyframes done {
  0% {
    opacity: 0;
    background-color: rgba(255, 255, 255, .4);
    transform: translateY(20px);
  }
  50% {
    opacity: 1;
    background-color: rgba(255, 255, 255, .4);
  }
}

@keyframes undone {
  0% {
    opacity: 0;
    background-color: rgba(255, 255, 255, .4);
    transform: translateY(-20px);
  }
  50% {
    opacity: 1;
    background-color: rgba(255, 255, 255, .4);
  }
}


.nav-group-right {
  position:absolute;
  left:auto;
  right:0px;
  top:0px;
  bottom:auto;
  width:auto;
  height: auto
}

.nav-item {
  font-size: 16px;
line-height: 24px;
width: 2rem;
margin-right: 0.5rem;
display: inline-block;
height: 3rem;
text-align: center;
}

.todo-container input {
  background : white;
}

.todo-container input:focus {
  background : white;
}
*/
.list-edit-form {
  position: absolute;
top: 4em;
right: 0px;
bottom: auto;
left: 0px;
width: auto;
height: auto;
}

.icon-add {
  font-size: 1em;
  height: 1em;
  position: absolute;
  top: 35%;
  width: 1em;
  left : 1em;
}

.list-edit-form input {
  padding-bottom: 0.25em;
padding-left: 44px !important;
padding-top: 0.25em;
}

.icon-challenge {
  position: absolute;
  top : 10px;
  right : 10px;
  cursor : pointer;
}

.btn-challenge {
  margin : 5px;
}

.input-bg-white {
  background-color : #FFFFFF;
}